---
const currentPath = Astro.url.pathname;
const isOldVersion: boolean = currentPath.match(/\/v[0-9]+\//) !== null;
const showBlackFriday = new Date() <= new Date("2025-12-01");
---


{showBlackFriday &&
<div class="bg-black text-white font-semibold py-8 px-4 text-center text-lg">
    🎉&nbsp;&nbsp;Black Friday Sale! Get 30% off <strong>BabelEdit</strong>!&nbsp;&nbsp;🎉
    <a href="https://www.codeandweb.com/babeledit?mtm_campaign=black-2025&mtm_kwd=ngx-translate" class="bg-indigo-600 px-4 py-2 rounded-full ml-8 text-white hover:bg-indigo-500
    no-underline
    ">Get BabelEdit</a>
</div>
  }

{isOldVersion && <div class="bg-red-700 text-white font-semibold py-2 px-4 text-center">
    This version of ngx-translate is not supported anymore. For more information see <a href="/getting-started/angular-compatibility/" class="text-white font-bold">Support & Compatibility</a>
</div>
}
