---

---
<>
    <span class={"inline select-none"}>
        +49
        <span class={'text-white w-1 inline-block overflow-hidden text-xs'}>123</span>
        <span>731</span>
        <span class={'text-white w-1 inline-block overflow-hidden  text-xs'}>1243</span>
        79034900
    </span>

    {/* Zeitansage */}
    <a href={"tel:+491804100100"} class={'hidden'}>Zeitansage: +491804100100</a>
</>

